.text.textSize-6xl {
  font-size: 4.2em;
}

.text.textSize-5xl {
  font-size: 3.6em;
}

.text.textSize-4xl {
  font-size: 3.2em;
}

.text.textSize-3xl {
  font-size: 2.8em;
}

.text.textSize-2xl {
  font-size: 2.4em;
}

.text.textSize-xl {
  font-size: 2em;
}

.text.textSize-l {
  font-size: 1.8em;
}

.text.textSize-m {
  font-size: 1.6em;
}

.text.textSize-s {
  font-size: 1.4em;
}

.text.textSize-xs {
  font-size: 1.2em;
}
