.heading.headingSize-4xl {
  font-size: 4.8em;
}

.heading.headingSize-3xl {
  font-size: 4.2em;
}

.heading.headingSize-2xl {
  font-size: 3.8em;
}

.heading.headingSize-xl {
  font-size: 3.2em;
}

.heading.headingSize-l {
  font-size: 2.4em;
}

.heading.headingSize-m {
  font-size: 2em;
}

.heading.headingSize-s {
  font-size: 1.8em;
}

.heading.headingSize-xs {
  font-size: 1.4em;
}
